#Hamburger{
  border-color: transparent;
}
#Navi{
  background-color: rgb(59, 178, 225);
}
.introdiv{
  border-right: 1px solid lightgray;
}
#GetStarted{
  border-radius: 4px;
  background-color: rgb(155, 216, 240);
  color: rgb(20, 76, 98);
}
#GetStarted:active,#GetStarted:focus{outline: none; box-shadow: none;}